/*Header Style*/
header.dark{background-color: #302E24;}
header h1 a#logo-text{text-decoration: none;font-size:50px;color: #fff;vertical-align: middle;}
header h1 a#logo-text:hover{color: #fff;}

/*Piano Style*/
.piano {grid-template-rows: repeat(1, 1fr);grid-template-columns: repeat(35, 1fr);background-color: #222831;}
.piano {position: relative;width: 100%;height: 100%;display: grid;}
.cell {position: relative;line-height: 1;box-sizing: border-box;display: flex;justify-content: center;align-items: center;}
	/*Cell Opacity*/
.cell:nth-of-type(1):hover {opacity: 1;}
.cell:nth-of-type(2):hover {opacity: 1;}
.cell:nth-of-type(3):hover {opacity: 1;}
.cell:nth-of-type(4):hover {opacity: 1;}
.cell:nth-of-type(5):hover {opacity: 1;}
.cell:nth-of-type(6):hover {opacity: 1;}
.cell:nth-of-type(7):hover {opacity: 1;}
.cell:nth-of-type(8):hover {opacity: 1;}
.cell:nth-of-type(9):hover {opacity: 1;}
.cell:nth-of-type(10):hover {opacity: 1;}
.cell:nth-of-type(11):hover {opacity: 1;}
.cell:nth-of-type(12):hover {opacity: 1;}
.cell:nth-of-type(13):hover {opacity: 1;}
.cell:nth-of-type(14):hover {opacity: 1;}
.cell:nth-of-type(15):hover {opacity: 1;}
.cell:nth-of-type(16):hover {opacity: 1;}
.cell:nth-of-type(17):hover {opacity: 1;}
.cell:nth-of-type(18):hover {opacity: 1;}
.cell:nth-of-type(19):hover {opacity: 1;}
.cell:nth-of-type(20):hover {opacity: 1;}
.cell:nth-of-type(21):hover {opacity: 1;}
.cell:nth-of-type(22):hover {opacity: 1;}
.cell:nth-of-type(23):hover {opacity: 1;}
.cell:nth-of-type(24):hover {opacity: 1;}
.cell:nth-of-type(25):hover {opacity: 1;}
.cell:nth-of-type(26):hover {opacity: 1;}
.cell:nth-of-type(27):hover {opacity: 1;}
.cell:nth-of-type(28):hover {opacity: 1;}
.cell:nth-of-type(29):hover {opacity: 1;}
.cell:nth-of-type(30):hover {opacity: 1;}
.cell:nth-of-type(31):hover {opacity: 1;}
.cell:nth-of-type(32):hover {opacity: 1;}
.cell:nth-of-type(33):hover {opacity: 1;}
.cell:nth-of-type(34):hover {opacity: 1;}
.cell:nth-of-type(35):hover {opacity: 1;}

	/*Cell Animation*/
.cell:nth-of-type(1) {transition: opacity .2s ease-out;animation: slide-in .25s ease-out;opacity: 0.1;background: #dfa612;height: 200px;margin: 0 .2rem;}
.cell:nth-of-type(2) {transition: opacity .2s ease-out;animation: slide-in-2 .25s ease-out;opacity: 0.2;background: #dfa612;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(3) {transition: opacity .2s ease-out;animation: slide-in-3 .25s ease-out;opacity: 0.2;background: #dfa612;height:120px;margin: 0 .2rem;}
.cell:nth-of-type(4) {transition: opacity .2s ease-out;animation: slide-in-4 .25s ease-out;opacity: 0.1;background: #dfa612;height:95px;margin: 0 .2rem;}
.cell:nth-of-type(5) {transition: opacity .2s ease-out;animation: slide-in-5 .25s ease-out;opacity: 0.2;background: #dfa612;height:125px;margin: 0 .2rem;}
.cell:nth-of-type(6) {transition: opacity .2s ease-out;animation: slide-in-6 .25s ease-out;opacity: 0.4;background: #dfa612;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(7) {transition: opacity .2s ease-out;animation: slide-in-7 .25s ease-out;opacity: 0.4;background: #dfa612;height:175px;margin: 0 .2rem;}
.cell:nth-of-type(8) {transition: opacity .2s ease-out;animation: slide-in-8 .25s ease-out;opacity: 0.05;background: #E84279;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(9) {transition: opacity .2s ease-out;animation: slide-in-9 .25s ease-out;opacity: 0.4;background: #dfa612;height:125px;margin: 0 .2rem;}
.cell:nth-of-type(10) {transition: opacity .2s ease-out;animation: slide-in-10 .25s ease-out;opacity: 0.3;background: #dfa612;height:100px;margin: 0 .2rem;}
.cell:nth-of-type(11) {transition: opacity .2s ease-out;animation: slide-in-11 .25s ease-out;opacity: 0.2;background: #dfa612;height:75px;margin: 0 .2rem;}
.cell:nth-of-type(12) {transition: opacity .2s ease-out;animation: slide-in-12 .25s ease-out;opacity: 0.05;background: #EFBB35;height:45px;margin: 0 .2rem;}
.cell:nth-of-type(13) {transition: opacity .2s ease-out;animation: slide-in-13 .25s ease-out;opacity: 0.4;background: #dfa612;height:108px;margin: 0 .2rem;}
.cell:nth-of-type(14) {transition: opacity .2s ease-out;animation: slide-in-14 .25s ease-out;opacity: 0.3;background: #dfa612;height:71px;margin: 0 .2rem;}
.cell:nth-of-type(15) {transition: opacity .2s ease-out;animation: slide-in-15 .25s ease-out;opacity: 0.3;background: #EFBB35;height:188px;margin: 0 .2rem;}
.cell:nth-of-type(16) {transition: opacity .2s ease-out;animation: slide-in-16 .25s ease-out;opacity: 0.2;background: #dfa612;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(17) {transition: opacity .2s ease-out;animation: slide-in-17 .25s ease-out;opacity: 0.04;background: #dfa612;height:172px;margin: 0 .2rem;}
.cell:nth-of-type(18) {transition: opacity .2s ease-out;animation: slide-in-18 .25s ease-out;opacity: 0.1;background: #EFBB35;height:95px;margin: 0 .2rem;}
.cell:nth-of-type(19) {transition: opacity .2s ease-out;animation: slide-in-19 .25s ease-out;opacity: 0.2;background: #EFBB35;height:131px;margin: 0 .2rem;}
.cell:nth-of-type(20) {transition: opacity .2s ease-out;animation: slide-in-20 .25s ease-out;opacity: 0.05;background: #EFBB35;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(21) {transition: opacity .2s ease-out;animation: slide-in-21 .25s ease-out;opacity: 0.3;background: #EFBB35;height:65px;margin: 0 .2rem;}
.cell:nth-of-type(22) {transition: opacity .2s ease-out;animation: slide-in-22 .25s ease-out;opacity: 0.4;background: #EFBB35;height:76px;margin: 0 .2rem;}
.cell:nth-of-type(23) {transition: opacity .2s ease-out;animation: slide-in-23 .25s ease-out;opacity: 0.4;background: #FAE042;height:45px;margin: 0 .2rem;}
.cell:nth-of-type(24) {transition: opacity .2s ease-out;animation: slide-in-24 .25s ease-out;opacity: 0.05;background: #dfa612;height:90px;margin: 0 .2rem;}
.cell:nth-of-type(25) {transition: opacity .2s ease-out;animation: slide-in-25 .25s ease-out;opacity: 0.3;background: #dfa612;height:120px;margin: 0 .2rem;}
.cell:nth-of-type(26) {transition: opacity .2s ease-out;animation: slide-in-26 .25s ease-out;opacity: 0.2;background: #FAE042;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(27) {transition: opacity .2s ease-out;animation: slide-in-27 .25s ease-out;opacity: 0.4;background: #EFBB35;height:170px;margin: 0 .2rem;}
.cell:nth-of-type(28) {transition: opacity .2s ease-out;animation: slide-in-28 .25s ease-out;opacity: 0.1;background: #EFBB35;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(29) {transition: opacity .2s ease-out;animation: slide-in-29 .25s ease-out;opacity: 0.3;background: #FAE042;height:90px;margin: 0 .2rem;}
.cell:nth-of-type(30) {transition: opacity .2s ease-out;animation: slide-in-30 .25s ease-out;opacity: 0.5;background: #dfa612;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(31) {transition: opacity .2s ease-out;animation: slide-in-31 .25s ease-out;opacity: 0.05;background: #EFBB35;height:65px;margin: 0 .2rem;}
.cell:nth-of-type(32) {transition: opacity .2s ease-out;animation: slide-in-32 .25s ease-out;opacity: 0.3;background: #EFBB35;height:150px;margin: 0 .2rem;}
.cell:nth-of-type(33) {transition: opacity .2s ease-out;animation: slide-in-33 .25s ease-out;opacity: 0.1;background: #EFBB35;height:115px;margin: 0 .2rem;}
.cell:nth-of-type(34) {transition: opacity .2s ease-out;animation: slide-in-34 .25s ease-out;opacity: 0.2;background: #EFBB35;height:90px;margin: 0 .2rem;}
.cell:nth-of-type(35) {transition: opacity .2s ease-out;animation: slide-in-35 .25s ease-out;opacity: 0.05;background: #EFBB35;height:200px;margin: 0 .2rem;}

	/*Cell Keyframes*/
@keyframes slide-in {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-1 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-2 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-3 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-4 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-5 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-6 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-7 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-8 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-9 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-10 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-11 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-12 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-13 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-14 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-15 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-16 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-17 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-18 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-19 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-20 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-21 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-22 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-23 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-24 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-25 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-26 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-27 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-28 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-29 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-30 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-31 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-32 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-33 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-34 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}
@keyframes slide-in-35 {
	0% {transform: translateY(-100%);}
	100% {transform: traslateY(0);}
}

/*Section Style*/
section h1.site-heading{color:#EFBB35;font-size:3.7em;font-weight: 100;word-spacing:8px;letter-spacing: 3px;font-style: italic;font-family: "IBM Plex Mono ExtraLight", "Segoe UI", "Helvetica Neue", Helvetica, Roboto, 'Open Sans', FreeSans, sans-serif;}
section form.form-signin {max-width:100%;padding: 15px;margin: 0 auto;width: 500px;}
section form input#search {word-spacing: 5px;letter-spacing: 2px;border-bottom-left-radius:7px;border-top-left-radius: 7px;border-color: #E84279;border-width: 2px;background-color: #222831;border-right: 0;}
section form button.searchBtn {border:2px solid #E84279;border-bottom-right-radius:7px;border-top-right-radius: 7px;border-left: 0;background-color: #222831;border-bottom-left-radius:0;border-top-left-radius: 0;color: #fff;}
.btn:focus {
    box-shadow: 0 0 0 0;
}
.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}
/*Main Style*/
/*.main{position: relative;top: 50px;}*/
div.content{border:1px solid #1A1D24;transition: 0.5s all ease-in-out;border-radius: 3px;background: #1A1D24 linear-gradient(135deg, #F7DF1E 10px, rgba(0,0,0,0.01) 0);
}
div.content:hover {background-color: #1A1D24;;border: 1px solid #06a8e4;box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);}
.main-grid{margin-bottom: 20px;}
.border_top{border-top: 1px solid #707070;padding-top: 10px;}
#likes{font-size: 20px;width: 30px; height: 30px;color:white;border-radius:25px ;border:1px solid #1A1D24;background-color: #1A1D24;text-align: center;cursor: pointer;float: left;}
#comments{font-size: 20px;width: 30px; height: 30px;color:white;border-radius:25px ;border:1px solid #1A1D24;background-color: #1A1D24;text-align: center;cursor: pointer;float: right;}

/*footer{position:relative;top: 60px;background: #1b2126;}*/
footer{background-color:#222831;padding-top: 40px;}
a.footer-anchor{text-decoration: none;}
a h4.footer-logo{color:#fff;font-size: 35px;}
ul li h4.footer-text{color:#fdfdfd;font-size: 25px;font-weight: 100;word-spacing: 6px;letter-spacing: 2px;}
.sub-foot{
    -webkit-clip-path: polygon(0 0px, 100% 19px, 100% 100%, 0px 100%);
    clip-path: polygon(0 0px, 100% 19px, 100% 100%, 0px 100%);
    background-color: #1A1D24;
}

